<div>
  <table>
    <tr>
      <td width="150"><b>jobseeker_id</b>
      <td width="200"><b>jobseeker_name</b>
      <td width="200"><b>job_id</b>
      <td width="200"><b>job_title</b>
      <td width="200"><b>matching_skill_count</b>
      <td width="200"><b>matching_skill_percent</b>
    <% @job_matches.each do |match| %>
      <tr class="<%= style_match_row(match) %>">
        <td><%= match.jobseeker_id %>
        <td><%= match.jobseeker_name %>
        <td><%= match.job_id %>
        <td><%= match.job_title %>
        <td><%= match.matching_skill_count %>
        <td class="<%= style_percent_text(match.matching_skill_percent) %>"><%= match.matching_skill_percent %>
    <% end %>
  </table>
</div>