<div>
  <table>
    <tr>
      <td width="150"><b>jobseeker_id</b>
      <td width="200"><b>jobseeker_name</b>
      <td width="200"><b>job_id</b>
      <td width="200"><b>job_title</b>
      <td width="200"><b>matching_skill_count</b>
      <td width="200"><b>matching_skill_percent</b>
    <% @job_matches.each do |match| %>
      <tr>
        <td><%= match.job_seeker_id %>
        <td><%= match.job_seeker_name %>
        <td><%= match.job_id %>
        <td><%= match.job_title %>
        <td><%= match.matching_skill_count %>
        <td><%= match.matching_skill_percent %>
    <% end %>
  </table>
  <br/>

  <table>
    <tr>
      <td width="150"><b>Id</b>
      <td width="200"><b>Title</b>
      <td><b>Skills</b>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %>
        <td><%= job.title %>
        <td><%= job.required_skills %>
    <% end %>
  </table>

  <table>
    <tr>
      <td width="150"><b>Id</b>
      <td width="200"><b>Name</b>
      <td><b>Skills</b>
    <% @job_seekers.each do |job_seeker| %>
      <tr>
        <td><%= job_seeker.id %>
        <td><%= job_seeker.name %>
        <td><%= job_seeker.personal_skills %>
    <% end %>
  </table>
</div>